.Us14Main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
    align-items: center;
    height: 450px;
    margin:auto;

    ul{
        font-size: small;
    }

    button{
        height: Auto;
        margin: 5px 5px;
        cursor: pointer;
    }
}