@mixin btn($bg){
    background-color: $bg;
    padding: 20px;
    border-radius: 20px;

    &:hover{
        background-color: rgb(10, 9, 8);
        color: white;
    }
}

@mixin bgc($bg){
    background-color: $bg;
}